---
permalink: /inspirasjon
---
{%- include head.html -%}
{%- include header.html -%}

<body>
  <main>

    {%- comment -%}
      {% for collection in site.collections %}
      <h2>Items from {{ collection.label }}</h2>
      <ul>
      {% for item in site[collection.label] %}
      <li>
      <a a href="{{ item.url }}">{{ item.title }}</a>
      </li>
      <br>
      {% endfor %}
      </ul>
      {% endfor %}
    {%- endcomment -%}

    <h1>INSPIRASJON</h1>
    <p>
      Dette er under konstruksjon.
    </p>

    <div class="behaldar-prosjekt">
      <div class="prosjekt-galleri">

        {%- comment -%}
          {%- for prosjekt in site.prosjekt -%}

          <figure class="prosjekt-galleri-item-figure">
          <a class="prosjekt-galleri-figur-lenkje" href="{{ prosjekt.url }}">
          <img class="prosjekt-galleri-figur-bilete" src="/assets/images/{{ prosjekt.name | replace: '.md', '' }}/WEBP/COVER.webp" srcset="" alt="{{ prosjekt.TITTEL }}" width="100%" height="100%" loading="lazy">
          <figcaption class="prosjekt-galleri-undertekst">
          <h2>{{ prosjekt.TITTEL }}</h2>
          <p>{{ prosjekt.UNDERTITTEL }}</p>
          </figcaption>
          </a>
          </figure>

          {%- endfor -%}
        {%- endcomment -%}


        {%- comment -%}
          <figure class="prosjekt-galleri-item-figure">
          <a class="prosjekt-galleri-figur-lenkje" href="prosjekt_01.html">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2022 - NORDRE ELDÅSETER - DOKUMENTASJON/WEBP/20220113 TUN 01 B.webp"
          srcset=""
          alt="Nordre Eldåseter"
          width="100%"
          height="100%"
          loading="lazy">
          <figcaption class="prosjekt-galleri-undertekst">
          <h2>NORDRE ELDÅSETER</h2>
          <p>Dokumentasjon av setertun</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a class="prosjekt-galleri-figur-lenkje" href="prosjekt_01.html">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2022 - NORDRE ELDÅSETER - PROSJEKTERING/WEBP/SITUASJONSSNITT SØRVEST - 1-100 - A1L - RED.webp"
          srcset=""
          alt="Nordre Eldåseter"
          width="100%"
          height="100%"
          loading="lazy">
          <figcaption class="prosjekt-galleri-undertekst">
          <h2>NORDRE ELDÅSETER</h2>
          <p>Prosjektering</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a class="prosjekt-galleri-figur-lenkje" href="prosjekt_01.html">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2020 - SEPTEMBER HOUSE/WEBP/Jørgensen_Sondre_Dalseg_Johan-Embrik 1.webp"
          srcset=""
          alt="Nordre Eldåseter"
          width="100%"
          height="100%"
          loading="lazy">
          <figcaption class="prosjekt-galleri-undertekst">
          <h2>Septermber house</h2>
          <p>Restaurant, overnatting og bar</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a href="#">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2020 - DEI TRE BUKKANE BRUSE/WEBP/Ø2_prosjekthefte 9.webp"
          srcset=""
          alt="Nordre Eldåseter"
          width="100%"
          height="100%">
          <figcaption>
          <h3 class="prosjekt-galleri-item-title">Dei tre bukkane bruse</h3>
          <p class="prosjekt-galleri-item-category">Bibliotek, bolig</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a href="#">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2020 - GEOMETRISKE ØYER/WEBP/GEOMETRISKE ØYER - PLAN 05.webp"
          srcset=""
          alt=""
          width="100%"
          height="100%">
          <figcaption>
          <h3 class="prosjekt-galleri-item-title">Geometriske øyer</h3>
          <p class="prosjekt-galleri-item-category">...</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a href="#">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2021 - BRISTOL CONDITORI - DOKUMENTASJON/WEBP/Sørfasade.webp"
          srcset=""
          alt=""
          width="100%"
          height="100%">
          <figcaption>
          <h3 class="prosjekt-galleri-item-title">Bristol Conditori</h3>
          <p class="prosjekt-galleri-item-category">Dokumentasjon</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a href="#">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2021 - BRISTOL CONDITORI - PROSJEKTERING/WEBP/AXO SØ 05.webp"
          srcset=""
          alt=""
          width="100%"
          height="100%">
          <figcaption>
          <h3 class="prosjekt-galleri-item-title">Bristol Conditori i atter 100 år</h3>
          <p class="prosjekt-galleri-item-category">Prosjektering</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a href="#">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2021 - COR+E/WEBP/THE WHOLE SHABANG 03-18 04.webp"
          srcset=""
          alt=""
          width="100%"
          height="100%">
          <figcaption>
          <h3 class="prosjekt-galleri-item-title">COR+E</h3>
          <p class="prosjekt-galleri-item-category">Bo på 9,6m³</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a href="#">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2021 - CIT+E, ROOF+E, COR+E/WEBP/view from kitchen table, noise.webp"
          srcset=""
          alt=""
          width="100%"
          height="100%">
          <figcaption>
          <h3 class="prosjekt-galleri-item-title">CIT+E, ROOF+E, COR+E</h3>
          <p class="prosjekt-galleri-item-category">...</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a href="#">
          <img
          class="prosjekt-galleri-figur-bilete"
          src="prosjekt/2021 - ON-FILL/WEBP/interior render final.webp"
          srcset=""
          alt=""
          width="100%"
          height="100%">
          <figcaption>
          <h3 class="prosjekt-galleri-item-title">ON-FILL</h3>
          <p class="prosjekt-galleri-item-category">...</p>
          </figcaption>
          </a>
          </figure>

          <figure class="prosjekt-galleri-item-figure">
          <a href="#">
          <img
          class="prosjekt-galleri-figur-bilete"
          src=""
          srcset=""
          alt=""
          width="100%"
          height="100%">
          <figcaption>
          <h3 class="prosjekt-galleri-item-title">L</h3>
          <p class="prosjekt-galleri-item-category"></p>
          </figcaption>
          </a>
          </figure>
        {%- endcomment -%}

      </div>
    </div>
  </main>
</body>

{%- include footer.html -%}