<footer>
    <nav class="nav-botn">
        <div class="footer-col1">
            <h2>Informasjon</h2>
            <br><br>
            <p>Dette er heimesida mi. Ho er laga for privat bruk, som eit arkiv for meg sjølv og for å enkelt syne kva eg driv med.</p>
            <br>
            <p class="copyright enkeltprosjekt-tekst-trykk">© Johan-Embrik Dalseg</p>
        </div>
        <div class="footer-col2">
            <h2>Navigasjon</h2>
            <br><br>
            <a href="/heim/">HEIM</a>
            <a href="/prosjekt/" class="active">PROSJEKT</a>
            <a href="/inspirasjon/">INSPIRASJON</a>
            <a href="/om-meg/">OM MEG</a>
        </div>
    </nav>
</footer>
</html>