<header>
    <nav class="nav-topp">
        <ul class="primary-navigation">
            <li class="nav-items">
                <a href="{{ '/heim/' | relative_url }}">HEIM</a>
            </li>
            <li class="nav-items active">
                <a href="{{ '/prosjekt/' | relative_url }}">PROSJEKT</a>
            </li>
            <li class="nav-items">
                <a href="{{ '/inspirasjon/' | relative_url }}">INSPIRASJON</a>
            </li>
            <li class="nav-items">
                <a href="{{ '/om-meg/' | relative_url }}">OM MEG</a>
            </li>
        </ul>
    </nav>
</header>